<% def formata_cep(cep) %>
  <% cep_formatado = cep[0..4] %>
  <% cep_formatado << '-' %>
  <% cep_formatado << cep[5..7] %>
  <% cep_formatado %>
<% end %>

<h1>Galpão <%= @warehouse.code %></h1>
<h2><%=@warehouse.description %></h2>
<div>
  <dl>
    <dt><strong>Nome: </strong><%=@warehouse.name %></dt>
    <dt><strong>Cidade: </strong><%=@warehouse.city %></dt>
    <dt><strong>Área: </strong><%=@warehouse.area %> m2</dt>
    <dt><strong>Endereço: </strong><%=@warehouse.address %> <strong> - CEP: </strong><%= formata_cep(@warehouse.cep) %></dt>
  </dl>
</div>


<p><%= link_to 'Editar Galpão',  edit_warehouse_url%></p>
<p><%= button_to 'Remover',  warehouse_url(@warehouse.id), method: :delete %></p>

<p><%= link_to 'Voltar', root_url%></p>